## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [18]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [19]:
# 1) Seu código aqui
acerto_materia = [24,18,8,8,8,12,12] 

colunas = ['ac_mat', 'ac_por', 'ac_geo','ac_ing','ac_his','ac_fis','ac_qui']

resultados = pd.concat([df_mat, df_por, df_geo,df_ing,df_his,df_fis,df_qui], axis=1)
resultados.columns = colunas

numero_questoes = pd.DataFrame (np.array(acerto_materia)).T
numero_questoes.columns = colunas
per_acerto_por_aluno = (resultados/numero_questoes.iloc[0])*100


per_acerto_por_aluno

       ac_mat     ac_por  ac_geo  ac_ing  ac_his     ac_fis     ac_qui
0   25.000000  38.888889    87.5    37.5    12.5  66.666667  25.000000
1   79.166667  55.555556     0.0     0.0     0.0  91.666667  66.666667
2   58.333333  88.888889     0.0    62.5    87.5  33.333333  33.333333
3   41.666667  38.888889    37.5    50.0     0.0   0.000000  66.666667
4   29.166667  11.111111    25.0    87.5     0.0  75.000000  25.000000
..        ...        ...     ...     ...     ...        ...        ...
95  25.000000  22.222222    87.5    12.5    50.0  75.000000  25.000000
96  33.333333   5.555556    50.0    75.0    12.5  33.333333  25.000000
97  95.833333  27.777778     0.0    25.0    50.0   8.333333  41.666667
98   0.000000  55.555556    37.5    12.5    62.5  83.333333  91.666667
99  45.833333  83.333333     0.0    12.5    75.0  58.333333  16.666667

[100 rows x 7 columns]

In [20]:
# 2) Seu código aqui
resultados['total_acertos']= df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
resultados

    ac_mat  ac_por  ac_geo  ac_ing  ac_his  ac_fis  ac_qui  total_acertos
0        6       7       7       3       1       8       3             35
1       19      10       0       0       0      11       8             48
2       14      16       0       5       7       4       4             50
3       10       7       3       4       0       0       8             32
4        7       2       2       7       0       9       3             30
..     ...     ...     ...     ...     ...     ...     ...            ...
95       6       4       7       1       4       9       3             34
96       8       1       4       6       1       4       3             27
97      23       5       0       2       4       1       5             40
98       0      10       3       1       5      10      11             40
99      11      15       0       1       6       7       2             42

[100 rows x 8 columns]

In [21]:
# 3) Seu código aqui
resultados['per_geral'] = (resultados['total_acertos']/90)*100
resultados

,ac_mat,ac_por,ac_geo,ac_ing,ac_his,ac_fis,ac_qui,total_acertos,per_geral
0,6,7,7,3,1,8,3,35,38.888889
1,19,10,0,0,0,11,8,48,53.333333
2,14,16,0,5,7,4,4,50,55.555556
3,10,7,3,4,0,0,8,32,35.555556
4,7,2,2,7,0,9,3,30,33.333333
...,...,...,...,...,...,...,...,...,...
95,6,4,7,1,4,9,3,34,37.777778
96,8,1,4,6,1,4,3,27,30.000000
97,23,5,0,2,4,1,5,40,44.444444
98,0,10,3,1,5,10,11,40,44.444444
99,11,15,0,1,6,7,2,42,46.666667

In [26]:
# 4) Seu código aqui
rep_mat = resultados.loc[resultados['ac_mat'] == 0, 'ac_mat']
rep_fis = resultados.loc[resultados['ac_fis'] == 0, 'ac_fis'] 
rep_qui = resultados.loc[resultados['ac_qui'] == 0, 'ac_qui'] 
reprovados = pd.DataFrame(rep_mat + rep_fis + rep_qui)
reprovados[0] = 'Eliminado'
print(reprovados)

            0
3   Eliminado
6   Eliminado
10  Eliminado
12  Eliminado
14  Eliminado
20  Eliminado
25  Eliminado
26  Eliminado
27  Eliminado
33  Eliminado
35  Eliminado
49  Eliminado
56  Eliminado
65  Eliminado
66  Eliminado
72  Eliminado
73  Eliminado
74  Eliminado
84  Eliminado
89  Eliminado
92  Eliminado
94  Eliminado
98  Eliminado

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [30]:
# seu código aqui
resultados['estado'] = np.where((resultados['ac_mat'] == 0) | 
                                (resultados['ac_fis'] == 0) | 
                                (resultados['ac_qui'] == 0), 'Eliminado', '')
reprovados = resultados.loc[resultados['estado'] == 'Eliminado']
reprovados

,ac_mat,ac_por,ac_geo,ac_ing,ac_his,ac_fis,ac_qui,total_acertos,per_geral,estado
3,10,7,3,4,0,0,8,32,35.555556,Eliminado
6,6,0,7,7,5,0,4,29,32.222222,Eliminado
10,10,8,3,2,1,7,0,31,34.444444,Eliminado
12,20,8,3,7,1,0,3,42,46.666667,Eliminado
14,7,11,1,7,1,4,0,31,34.444444,Eliminado
20,23,11,6,5,6,2,0,53,58.888889,Eliminado
25,0,4,7,4,0,4,8,27,30.000000,Eliminado
26,11,14,6,2,7,0,0,40,44.444444,Eliminado
27,21,13,1,5,7,3,0,50,55.555556,Eliminado
33,14,8,0,5,6,6,0,39,43.333333,Eliminado
35,11,14,6,3,3,0,11,48,53.333333,Eliminado
49,8,1,1,0,1,0,8,19,21.111111,Eliminado
56,7,6,7,5,6,0,8,39,43.333333,Eliminado
65,1,8,2,4,3,0,6,24,26.666667,Eliminado
66,5,4,3,6,3,0,10,31,34.444444,Eliminado
72,11,16,3,4,7,0,9,50,55.555556,Eliminado
73,1,16,2,4,3,0,11,37,41.111111,Eliminado
74,9,11,0,7,5,7,0,39,43.333333,Eliminado
84,15,1,0,5,1,0,4,26,28.888889,Eliminado
89,23,11,7,7,6,9,0,63,70.000000,Eliminado
92,14,10,1,6,1,8,0,40,44.444444,Eliminado
94,0,5,2,6,1,3,8,25,27.777778,Eliminado
98,0,10,3,1,5,10,11,40,44.444444,Eliminado

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [43]:
arquivo = ('https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv')
arquivo

'https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv'

In [49]:
# 1) Sua solução aqui

arquivo_copy = arquivo [:20000].copy()

AttributeError: 'str' object has no attribute 'copy'

In [58]:
df.head()

,document_id,paciente_id,paciente_idade,paciente_datanascimento,paciente_enumsexobiologico,paciente_racacor_codigo,paciente_racacor_valor,paciente_endereco_coibgemunicipio,paciente_endereco_copais,paciente_endereco_nmmunicipio,...,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataaplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem,data_importacao_rnds,id_sistema_origem
0,b19cd280-474c-4c22-a35d-8c06bc04a4e0-i0b0,2e091c9a37d3f50d1d705fc80c6448c6fc69b44da9e936...,69,1951-12-28,F,3,PARDA,120050.0,10.0,SENA MADUREIRA,...,210052A,FUNDACAO BUTANTAN,Organization/61189445000156,2021-03-23,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-03-25T03:27:19.000Z,NaN
1,d7e13d32-32fb-4e9a-a559-b0bdd7929d2b-i0b0,dd179041b80ce919ceffa504ad2eae6f9ac3d6bbdfd531...,63,1957-06-09,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,210110,FUNDACAO BUTANTAN,Organization/61189445000156,2021-04-28,2ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-05-02T15:41:55.000Z,NaN
2,af279a98-ba1f-47ea-8214-314a98040b0d-i0b0,6734b26bccf826130ebffa66575977bbe71477b12bcf42...,69,1951-08-14,M,4,AMARELA,120020.0,10.0,CRUZEIRO DO SUL,...,210135,FUNDACAO BUTANTAN,Organization/61189445000156,2021-04-16,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-04-16T15:54:39.000Z,NaN
3,22f523ac-3eb6-45b2-9f6e-4e9906f09b5a-i0b0,54dfc421baa6a03e54c8a57f08c50b0281d40659849fbc...,19,2001-04-28,M,5,INDIGENA,120033.0,10.0,MANCIO LIMA,...,202010028,FUNDACAO BUTANTAN,Organization/61189445000156,2021-03-02,2ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-03-22T20:21:06.000Z,NaN
4,000e911b-e3a4-4114-a735-d1f2e6e3797f-i0b0,c59571e19f368d4b0cf08cd3bcabb32e5cd8baad5340f6...,65,1955-11-21,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,212VCD001ZVB,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-03-29,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-04-03T19:44:28.000Z,NaN

In [55]:
df.shape[0]

174191

In [57]:
# 2) 
df['paciente_id'].nunique()

125009

In [70]:
# 3) 
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

124185

In [72]:
# 3) solução alternativa
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

124185

In [79]:
# 4) 
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

49

In [84]:
# 5)
df['estabelecimento_razaosocial'].nunique()

42

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [101]:
# 1) 
df_menor = df[df["paciente_idade"]<18].copy()

In [102]:
# 2) 
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_datanascimento', 'paciente_enumsexobiologico',
       'paciente_racacor_codigo', 'paciente_racacor_valor',
       'paciente_endereco_coibgemunicipio', 'paciente_endereco_copais',
       'paciente_endereco_nmmunicipio', 'paciente_endereco_nmpais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumnacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoatendimento_codigo',
       'vacina_grupoatendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataaplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem', 'data_importacao_rnds', 'id_sistema_origem'],
      dtype='object')

In [104]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

Povos Indígenas                     33
Povos e Comunidades Tradicionais     9
Trabalhadores de Saúde               9
Comorbidades                         2
Faixa Etária                         1
Name: vacina_categoria_nome, dtype: int64

In [118]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]

In [119]:
# 5)
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape